<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/signup.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mapsDisplay.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newMap.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:ital,wght@0,200;0,300;0,600;0,800;1,200;1,300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <body>
    <header id="page-header" class="page-header"></header>
    <main id="main-content"></main>
    <script type="text/javascript" src="/scripts/view_manager.js"></script>
    <script type="text/javascript" src="/scripts/network.js"></script>
    <script type="text/javascript" src="/scripts/components/header.js"></script>
    <script type="text/javascript" src="/scripts/components/login.js"></script>
    <script
      type="text/javascript"
      src="/scripts/components/register.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/mapsDisplay.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/show_map.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/create_new_map.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/profile.js"
    ></script>

    <!-- CDN for bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
