@use "_variables" as *;

header {
  font-family: $font-title;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  background-color: $orange;
  color: $white;
  height: 8vh;
}

#navbar {
  height: 100%;
  height: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    font-size: 3em;
  }

  .nav-links {
    @include flex-center(row);
    margin: 0;
    font-size: 2em;
    list-style: none;

    li {
      margin-left: 1em;
      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $white;
      }
    }
  }
}

// .page-header {
//   &__user-links {
//     ul {
//       list-style: none;
//       display: flex;
//       li {
//         padding: 0;
//         margin: 0 10px;
//         cursor: pointer;
//       }
//     }
//   }
// }
