@use "_variables" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

main {
  width: 90%;
  margin: 0 auto;
  font-family: $font-body;
}

input {
  width: 300px;
}

.favourited-map {
  color: $red;
}

#favourite-btn {
  padding: 30px;
  font-size: 2em;
}
