.login-container {
  display: flex;
  margin: 50px 50px 50px 50px;
  .img {
    align-self: flex-start;
    margin-top: 50px;
  }
  .login {
    align-self: flex-end;
    margin-left: 100px;
    margin-top: 0px;

    height: max-content;
  }
}
