@use "_variables" as *;


#showMap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #map {
    height: 400px;
    width: 600px;
  }
  #deleteMarker {
    @include button($red, $darkred);
  }
  .table {
    font-family: $font-body;
  }
}
