@use "_variables" as *;

// title and like button
.title-like {
  @include flex-center(row);
  margin: 2rem auto;

  h2 {
    text-transform: capitalize;
    font-family: $font-title;
    font-weight: 600;
    margin: 0;
  }

  button {
    border: 3px solid $black;
    border-radius: 50%;
    padding: 0.6rem;
    margin-left: 10px;
    .fa-heart {
      font-size: 2rem;
    }
  }
}

// google map
#showMap {
  @include flex-center(column);
  #map {
    height: 600px;
    width: 100%;
  }
  #deleteMarker {
    @include button($red, $darkred);
  }
  .table {
    font-family: $font-body;
  }
}

.info-window {
  width: auto;
  height: auto;
  h2 {
    font-family: $font-title;
    text-transform: capitalize;
  }
  p {
    text-transform: capitalize;
  }
  .info-img-wrapper {
    height: 150px;
    width: 100px;
    img {
      max-height: 200px;
      width: 100%;
    }
  }
}

// points table
