@use "_variables" as *;

#showMap {
  @include flex-center(column);
  #map {
    height: 600px;
    width: 100%;
  }
  #deleteMarker {
    @include button($red, $darkred);
  }
  .table {
    font-family: $font-body;
  }
}
