@use "_variables" as *;

#maps-display {
  h1 {
    margin: 2rem auto;
    text-align: center;
    font-family: $font-title;
    font-weight: 600;
  }
}

#no-maps {
  @include flex-center(row);
  border-top: 3px solid $red;
  width: 70%;
  padding: 2rem 0;
  margin: 0 auto;
  h2 {
    font-family: $font-title;
    font-weight: 300;
  }
}

.user-map {
  margin-bottom: 2em;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  .map-item {
    @include flex-center(row);
    justify-content: left;
    height: 100%;
    padding: 15px;
    background-color: $lightgrey;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 5px;
    .fa-map-marked-alt {
      font-size: 4em;
      margin-right: 0.5em;
    }
    .map-info {
      @include flex-center(row);
      h3,
      p,
      span {
        margin: 0;
        text-transform: capitalize;
      }
      span {
        font-size: 2em;
        margin: 0;
      }
    }
    .fa-heart {
      margin-left: 0.5em;
      font-size: 2em;
    }
  }
}
